
  
  
      <style>
        @font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfedA.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlEw.woff) format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlEw.woff) format('woff');
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-492790951287194847 .-translate-y-1\/2,.gps-492790951287194847 .mobile\:-translate-y-1\/2,.gps-492790951287194847 .mobile\:rotate-0,.gps-492790951287194847 .mobile\:rotate-180,.gps-492790951287194847 .mobile\:translate-x-0,.gps-492790951287194847 .mobile\:translate-y-1\/2,.gps-492790951287194847 .rotate-0,.gps-492790951287194847 .rotate-180,.gps-492790951287194847 .tablet\:-translate-y-1\/2,.gps-492790951287194847 .tablet\:rotate-0,.gps-492790951287194847 .tablet\:rotate-180,.gps-492790951287194847 .tablet\:translate-x-0,.gps-492790951287194847 .tablet\:translate-y-1\/2,.gps-492790951287194847 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-492790951287194847 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-492790951287194847 .pointer-events-auto{pointer-events:auto}.gps-492790951287194847 .absolute{position:absolute}.gps-492790951287194847 .relative{position:relative}.gps-492790951287194847 .bottom-1\/2{bottom:50%}.gps-492790951287194847 .left-4{left:16px}.gps-492790951287194847 .right-4{right:16px}.gps-492790951287194847 .top-1\/2{top:50%}.gps-492790951287194847 .z-1{z-index:1}.gps-492790951287194847 .z-2{z-index:2}.gps-492790951287194847 .mx-auto{margin-left:auto;margin-right:auto}.gps-492790951287194847 .my-0{margin-bottom:0;margin-top:0}.gps-492790951287194847 .mb-0{margin-bottom:0}.gps-492790951287194847 .mt-2{margin-top:8px}.gps-492790951287194847 .block{display:block}.gps-492790951287194847 .\!inline{display:inline!important}.gps-492790951287194847 .flex{display:flex}.gps-492790951287194847 .inline-flex{display:inline-flex}.gps-492790951287194847 .grid{display:grid}.gps-492790951287194847 .hidden{display:none}.gps-492790951287194847 .aspect-square{aspect-ratio:1/1}.gps-492790951287194847 .h-6{height:24px}.gps-492790951287194847 .h-full{height:100%}.gps-492790951287194847 .w-6{width:24px}.gps-492790951287194847 .w-\[12px\]{width:12px}.gps-492790951287194847 .w-full{width:100%}.gps-492790951287194847 .max-w-full{max-width:100%}.gps-492790951287194847 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-492790951287194847 .-translate-y-1\/2,.gps-492790951287194847 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .translate-y-1\/2{--tw-translate-y:50%}.gps-492790951287194847 .rotate-0{--tw-rotate:0deg}.gps-492790951287194847 .rotate-0,.gps-492790951287194847 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .rotate-180{--tw-rotate:180deg}.gps-492790951287194847 .cursor-pointer{cursor:pointer}.gps-492790951287194847 .flex-row{flex-direction:row}.gps-492790951287194847 .flex-col{flex-direction:column}.gps-492790951287194847 .flex-wrap{flex-wrap:wrap}.gps-492790951287194847 .items-center{align-items:center}.gps-492790951287194847 .justify-center{justify-content:center}.gps-492790951287194847 .gap-2{gap:8px}.gps-492790951287194847 .gap-y-0{row-gap:0}.gps-492790951287194847 .overflow-hidden{overflow:hidden}.gps-492790951287194847 .rounded{border-radius:4px}.gps-492790951287194847 .rounded-full{border-radius:9999px}.gps-492790951287194847 .border{border-width:1px}.gps-492790951287194847 .text-center{text-align:center}.gps-492790951287194847 .leading-\[0\]{line-height:0}.gps-492790951287194847 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-492790951287194847 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-492790951287194847 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492790951287194847 .duration-200{transition-duration:.2s}.gps-492790951287194847 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-492790951287194847 .disabled\:cursor-default:disabled{cursor:default}.gps-492790951287194847 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-492790951287194847 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-492790951287194847 .tablet\:bottom-1\/2{bottom:50%}.gps-492790951287194847 .tablet\:left-4{left:16px}.gps-492790951287194847 .tablet\:right-4{right:16px}.gps-492790951287194847 .tablet\:top-1\/2{top:50%}.gps-492790951287194847 .tablet\:mt-2{margin-top:8px}.gps-492790951287194847 .tablet\:block{display:block}.gps-492790951287194847 .tablet\:\!inline{display:inline!important}.gps-492790951287194847 .tablet\:w-full{width:100%}.gps-492790951287194847 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492790951287194847 .tablet\:-translate-y-1\/2,.gps-492790951287194847 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-492790951287194847 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-492790951287194847 .tablet\:rotate-0,.gps-492790951287194847 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .tablet\:rotate-0{--tw-rotate:0deg}.gps-492790951287194847 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .tablet\:flex-row{flex-direction:row}.gps-492790951287194847 .tablet\:px-0{padding-left:0;padding-right:0}.gps-492790951287194847 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-492790951287194847 .mobile\:bottom-1\/2{bottom:50%}.gps-492790951287194847 .mobile\:left-4{left:16px}.gps-492790951287194847 .mobile\:right-4{right:16px}.gps-492790951287194847 .mobile\:top-1\/2{top:50%}.gps-492790951287194847 .mobile\:mt-2{margin-top:8px}.gps-492790951287194847 .mobile\:block{display:block}.gps-492790951287194847 .mobile\:\!flex{display:flex!important}.gps-492790951287194847 .mobile\:\!hidden{display:none!important}.gps-492790951287194847 .mobile\:w-full{width:100%}.gps-492790951287194847 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-492790951287194847 .mobile\:-translate-y-1\/2,.gps-492790951287194847 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-492790951287194847 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-492790951287194847 .mobile\:rotate-0,.gps-492790951287194847 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .mobile\:rotate-0{--tw-rotate:0deg}.gps-492790951287194847 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-492790951287194847 .mobile\:flex-row{flex-direction:row}.gps-492790951287194847 .mobile\:px-0{padding-left:0;padding-right:0}.gps-492790951287194847 .mobile\:pl-1{padding-left:4px}}.gps-492790951287194847 .\[\&\>svg\]\:h-auto>svg{height:auto}.gps-492790951287194847 .\[\&\>svg\]\:w-full>svg{width:100%}.gps-492790951287194847 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-492790951287194847 .\[\&_p\]\:inline p{display:inline}.gps-492790951287194847 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-492790951287194847 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="VaU4LRmzAy"
        style="--border:;--rounded:;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:30px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="VaU4LRmzAy mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="DM4XhrLGta relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="SqMjg2YD_x"
        style="--border:;--rounded:;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--cg:30px;--gtc:minmax(0, 24fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="SqMjg2YD_x mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="C3BreXhIsp relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-QwZem6aTg2-{{section.id}}" class=" "  gp-data='{"id":"QwZem6aTg2-{{section.id}}","setting":{"arrow":{"desktop":true,"mobile":false},"arrowCustom":" <svg width=\"44\" height=\"44\" viewBox=\"0 0 44 44\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"> <g opacity=\"0.7\"> <rect width=\"44\" height=\"44\" fill=\"#242424\"/> <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M18.6469 15.6469C18.6933 15.6003 18.7485 15.5634 18.8093 15.5382C18.87 15.513 18.9351 15.5 19.0009 15.5C19.0667 15.5 19.1318 15.513 19.1925 15.5382C19.2533 15.5634 19.3084 15.6003 19.3549 15.6469L25.3549 21.6469C25.4015 21.6933 25.4384 21.7485 25.4636 21.8093C25.4888 21.87 25.5018 21.9351 25.5018 22.0009C25.5018 22.0667 25.4888 22.1318 25.4636 22.1925C25.4384 22.2533 25.4015 22.3084 25.3549 22.3549L19.3549 28.3549C19.261 28.4488 19.1337 28.5015 19.0009 28.5015C18.8681 28.5015 18.7408 28.4488 18.6469 28.3549C18.553 28.261 18.5003 28.1337 18.5003 28.0009C18.5003 27.8681 18.553 27.7408 18.6469 27.6469L24.2939 22.0009L18.6469 16.3549C18.6003 16.3084 18.5634 16.2533 18.5382 16.1925C18.513 16.1318 18.5 16.0667 18.5 16.0009C18.5 15.9351 18.513 15.87 18.5382 15.8093C18.5634 15.7485 18.6003 15.6933 18.6469 15.6469Z\" fill=\"white\"/> </g> </svg>","autoplay":false,"autoplayTimeout":3,"border":"","borderBackup":"","childItem":["Carousel 1","Carousel 2","Carousel 3","Carousel 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":true},"dotActiveColor":{"desktop":"text-2"},"dotColor":{"desktop":"#B4B4B4"},"enableDrag":false,"loop":{"desktop":true},"pauseOnHover":true,"rounded":"","roundedBackup":"","scrollMode":{"desktop":"snap"},"slidesToShow":{"desktop":1,"mobile":1,"tablet":1},"speed":1,"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"border":"","borderBackup":"","fullWidth":{"desktop":true},"height":{"desktop":"250px"},"rounded":"","roundedBackup":"","spacing":{"desktop":16},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block QwZem6aTg2"
        style="--arrowCustom:;--border:;--dotActiveColor:;--dotColor:;--rounded:;--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-QwZem6aTg2-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- BwuPJJZl-A"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="CLYhXr0qkx"
        style="--border:;--rounded:;--cg:0px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="CLYhXr0qkx mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0;--o-mobile:1"
      class="0C9YdWGUxK relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gDQma26oaD"
        style="--border:;--rounded:;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:0px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDQma26oaD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gOB15W7MdV relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:6px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gDi63Ur4RX ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gwLTejIVTa"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--h:17px;--minw:17px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g6mGl8yjXp ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gWfcz7AgME"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gZIlY-prnc ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gtuc6DYgjz"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gBImTO_2oO ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] ga3RHbllvL"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="guGQCBODe7 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gYwLR1ljr2"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gox1MNSLg7 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p><span style="background-color:transparent;">Amazing! Cutest bear ever!</span></p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gE0xpiIZG- "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>“Amazing!Cutest bear ever! I was skeptical of buying this because these bears are usually very pricey... Very satisfied with Company service and rose bear quality.”</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gz3L-bHerD"
        style="--border:;--rounded:;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:260px;--w-tablet:260px;--w-mobile:260px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gz3L-bHerD mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="g6bEMdnkgD relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image YYRpYgNAz_"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/60a7c556-57a8-4cd4-840f-2910cacbe285/-/format/auto/" data-srcset="https://ucarecdn.com/60a7c556-57a8-4cd4-840f-2910cacbe285/-/format/auto/ 768w,https://ucarecdn.com/60a7c556-57a8-4cd4-840f-2910cacbe285/-/format/auto/ 1024w,https://ucarecdn.com/60a7c556-57a8-4cd4-840f-2910cacbe285/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="164" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:160/164;--aspect-tablet:160/164;--aspect-mobile:160/164;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZY4EzDei- relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8eiWzeK8_ "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="color:#242424;"><strong>Ryan S.</strong></span> / Design Director</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="rTMURNdsbR relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image 3jeAOp-po9"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="https://ucarecdn.com/688b52b8-58d1-42f1-b9de-01a68577033f/-/format/auto/" data-srcset="https://ucarecdn.com/688b52b8-58d1-42f1-b9de-01a68577033f/-/format/auto/ 768w,https://ucarecdn.com/688b52b8-58d1-42f1-b9de-01a68577033f/-/format/auto/ 1024w,https://ucarecdn.com/688b52b8-58d1-42f1-b9de-01a68577033f/-/format/auto/ 1440w" src="https://ucarecdn.com/688b52b8-58d1-42f1-b9de-01a68577033f/-/format/auto/" width="1170" height="1170" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:1170/1170;--aspect-tablet:1170/1170;--aspect-mobile:1170/1170;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- Liu820Uh4L"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="HPdeq1VQ3T"
        style="--border:;--rounded:;--cg:0px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="HPdeq1VQ3T mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0;--o-mobile:1"
      class="9LaxJJYo7N relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gt8gmAwA_O"
        style="--border:;--rounded:;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:0px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gt8gmAwA_O mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="g97Gc5veWt relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:6px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gFBHQCfKsc ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g8cp65k1jT"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--h:17px;--minw:17px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ge4PpjL7tR ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g17E6KsIYh"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="guSiLW7u50 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gQQUFk2Iwh"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gWglsONiOB ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g_HnxpTnKf"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gz17oGBm-v ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gDY5YlwqXp"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="g8MRz2ElqR "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>I soo loved this Rose bear</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gJE_SqLxZW "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>“When it came, I opened it up and was immediately thrilled with the size, the softness and the look of the bear. I soo loved this Rose bear.”</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g_ToI2mFHB"
        style="--border:;--rounded:;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:270px;--w-tablet:260px;--w-mobile:260px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_ToI2mFHB mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gEuRjNb46Z relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ARLlspSGq4"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/e68abf81-4580-44cb-9547-266582b83409/-/format/auto/" data-srcset="https://ucarecdn.com/e68abf81-4580-44cb-9547-266582b83409/-/format/auto/ 768w,https://ucarecdn.com/e68abf81-4580-44cb-9547-266582b83409/-/format/auto/ 1024w,https://ucarecdn.com/e68abf81-4580-44cb-9547-266582b83409/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="164" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:160/164;--aspect-tablet:160/164;--aspect-mobile:160/164;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gyEhBpgBq7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gETGJT_eBp "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="color:#242424;"><strong>Frank T.</strong></span> / Design Director</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="tisepN2KL9 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image O8LWntzzh2"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="https://ucarecdn.com/0d7abf44-80a2-4938-8b41-2e110b8dfcbc/-/format/auto/" data-srcset="https://ucarecdn.com/0d7abf44-80a2-4938-8b41-2e110b8dfcbc/-/format/auto/ 768w,https://ucarecdn.com/0d7abf44-80a2-4938-8b41-2e110b8dfcbc/-/format/auto/ 1024w,https://ucarecdn.com/0d7abf44-80a2-4938-8b41-2e110b8dfcbc/-/format/auto/ 1440w" src="https://ucarecdn.com/0d7abf44-80a2-4938-8b41-2e110b8dfcbc/-/format/auto/" width="1170" height="1170" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:1170/1170;--aspect-tablet:1170/1170;--aspect-mobile:1170/1170;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- XUC3wsvDrl"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="bCWH5LFLb8"
        style="--border:;--rounded:;--cg:0px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="bCWH5LFLb8 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0;--o-mobile:1"
      class="sNRh8fkf_T relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="iwEhJcQAla"
        style="--border:;--rounded:;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:0px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="iwEhJcQAla mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="AufC08wpls relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:6px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gZ7dKznPqh ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gUDCJYmSSM"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--h:17px;--minw:17px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="geh69FMrlX ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g_8BOrgac6"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gh7glVJqK5 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gf_kC4mVEr"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gI8urYtNqg ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gJnn6Gg0xQ"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g96R-HRxAy ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gQYkcFZRA4"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gB2_7FSjnN "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>I'm not complaining</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g43-uLOqtM "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>“The quality of rose bears here is insane, they're breathtaking and so beautifully arranged. The prices are just right for it, I sometimes even feel that they're underpriced”</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="VHFDCaAoVi"
        style="--border:;--rounded:;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:260px;--w-tablet:260px;--w-mobile:260px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="VHFDCaAoVi mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="qSMIHZUqn7 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image TpusH-u0pu"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/0321428f-433d-4632-8f4e-e360e5c3b1ed/-/format/auto/" data-srcset="https://ucarecdn.com/0321428f-433d-4632-8f4e-e360e5c3b1ed/-/format/auto/ 768w,https://ucarecdn.com/0321428f-433d-4632-8f4e-e360e5c3b1ed/-/format/auto/ 1024w,https://ucarecdn.com/0321428f-433d-4632-8f4e-e360e5c3b1ed/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="164" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:160/164;--aspect-tablet:160/164;--aspect-mobile:160/164;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="WJN8_VBHnn relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="giSvL9Go7m "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="color:#242424;"><strong>Tina R.</strong></span> / Design Director</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="4FGl3EX1MZ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image 483X2WDEwT"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="https://ucarecdn.com/541d6113-816a-4e61-b7db-47ecac85f371/-/format/auto/" data-srcset="https://ucarecdn.com/541d6113-816a-4e61-b7db-47ecac85f371/-/format/auto/ 768w,https://ucarecdn.com/541d6113-816a-4e61-b7db-47ecac85f371/-/format/auto/ 1024w,https://ucarecdn.com/541d6113-816a-4e61-b7db-47ecac85f371/-/format/auto/ 1440w" src="https://ucarecdn.com/541d6113-816a-4e61-b7db-47ecac85f371/-/format/auto/" width="1170" height="1170" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:1170/1170;--aspect-tablet:1170/1170;--aspect-mobile:1170/1170;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- yA3W680HOy"
    >
      
      
      
    <div
      parentTag="CarouselItem" id="XyNVXGBwX9"
        style="--border:;--rounded:;--cg:0px;--gtc:minmax(0, 1fr) minmax(0, 1fr);--gtc-mobile:minmax(0, 1fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="XyNVXGBwX9 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0;--o-mobile:1"
      class="z8BJkJiogB relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZnfTVUXHp"
        style="--border:;--rounded:;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--pt-mobile:var(--g-s-4xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-l);--cg:0px;--gtc:minmax(0, 24fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZnfTVUXHp mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gJqWkeP2Xv relative flex flex-col"
    >
      
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:6px;--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gXBazBvRLt ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gdISHUNMt1"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:17px;--h:17px;--minw:17px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gHr7jnfLxy ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gZO2nO40LG"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gMJwEz_WQm ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g2RdcVW0yY"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gZ0BXq3P3T ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] g_XKZKJJPO"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gtdnQEzRV4 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gIRIkLycnf"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FDAC2B;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:w-full [&>svg]:h-auto"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M171.328 163.808 241.216 25.344A16.512 16.512 0 0 1 256 16c5.856 0 11.712 3.104 14.88 9.344l69.888 138.464 156.736 22.272A17.184 17.184 0 0 1 512 202.24a17.536 17.536 0 0 1 -5.44 14.24l-112.736 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192a16.64 16.64 0 0 1 -4.672 1.6c-10.944 1.92 -21.376 -8.128 -19.2 -20.544l26.56 -151.36L5.536 216.48a17.6 17.6 0 0 1 -5.504 -12.896 18.56 18.56 0 0 1 2.72 -9.664 16.416 16.416 0 0 1 11.84 -7.84l156.736 -22.272zM256 384.864a16 16 0 0 1 7.424 1.792l117.952 60.608 -22.208 -126.624a18.08 18.08 0 0 1 5.184 -16.16l93.024 -88.64 -129.664 -18.432a16.8 16.8 0 0 1 -12.576 -9.216L256.032 71.136 256 71.232v313.6z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
    <div
      parentTag="Col"
        class="gt84FljWFT "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:500;--ls:normal;--lh:130%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word"
        >
        <p>Best Gift for my girlfriend.</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gyi8Z6TERR "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p>“Best Gift for my girlfriend. She was stunned when she opened the package. She said she really liked it, she would put it on her bedside and hug it to fall asleep.”</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="gD8eyo3fYC"
        style="--border:;--rounded:;--ml:auto;--mr:auto;--pt:var(--g-s-2xl);--cg:16px;--cg-tablet:14px;--gtc:auto minmax(0, 1fr);--gtc-mobile:auto minmax(0, 1fr);--w:260px;--w-tablet:260px;--w-mobile:260px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD8eyo3fYC mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="gTJR9cyCwL relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image 372nS0iTdB"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/c63713ad-ee8f-4651-8769-d52e3ecd7226/-/format/auto/" data-srcset="https://ucarecdn.com/c63713ad-ee8f-4651-8769-d52e3ecd7226/-/format/auto/ 768w,https://ucarecdn.com/c63713ad-ee8f-4651-8769-d52e3ecd7226/-/format/auto/ 1024w,https://ucarecdn.com/c63713ad-ee8f-4651-8769-d52e3ecd7226/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="160" height="164" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:160/164;--aspect-tablet:160/164;--aspect-mobile:160/164;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUzYyK8-KU relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6fzUI2K0c "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Poppins, Poppins);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word"
        >
        <p><span style="color:#242424;"><strong>Reylo F.</strong></span> / Design Director</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="EwVg_He2El relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ptkpDf6-q9"
    style="--border:;--borderImg:;--boxShadowBtnImg:;--hasBoxShadowImg:;--rounded:;--roundedImg:;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="100" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex"
    data-src="https://ucarecdn.com/421d01fb-d38c-455f-a57a-a30b28730831/-/format/auto/" data-srcset="https://ucarecdn.com/421d01fb-d38c-455f-a57a-a30b28730831/-/format/auto/ 768w,https://ucarecdn.com/421d01fb-d38c-455f-a57a-a30b28730831/-/format/auto/ 1024w,https://ucarecdn.com/421d01fb-d38c-455f-a57a-a30b28730831/-/format/auto/ 1440w" src="https://ucarecdn.com/421d01fb-d38c-455f-a57a-a30b28730831/-/format/auto/" width="1170" height="1170" alt="Alt Image" priority="true"
    sizes="100vw"
    style="--aspect:1170/1170;--aspect-tablet:1170/1170;--aspect-mobile:1170/1170;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back QwZem6aTg2-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
     <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"> <g opacity="0.7"> <rect width="44" height="44" fill="#242424"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6469 15.6469C18.6933 15.6003 18.7485 15.5634 18.8093 15.5382C18.87 15.513 18.9351 15.5 19.0009 15.5C19.0667 15.5 19.1318 15.513 19.1925 15.5382C19.2533 15.5634 19.3084 15.6003 19.3549 15.6469L25.3549 21.6469C25.4015 21.6933 25.4384 21.7485 25.4636 21.8093C25.4888 21.87 25.5018 21.9351 25.5018 22.0009C25.5018 22.0667 25.4888 22.1318 25.4636 22.1925C25.4384 22.2533 25.4015 22.3084 25.3549 22.3549L19.3549 28.3549C19.261 28.4488 19.1337 28.5015 19.0009 28.5015C18.8681 28.5015 18.7408 28.4488 18.6469 28.3549C18.553 28.261 18.5003 28.1337 18.5003 28.0009C18.5003 27.8681 18.553 27.7408 18.6469 27.6469L24.2939 22.0009L18.6469 16.3549C18.6003 16.3084 18.5634 16.2533 18.5382 16.1925C18.513 16.1318 18.5 16.0667 18.5 16.0009C18.5 15.9351 18.513 15.87 18.5382 15.8093C18.5634 15.7485 18.6003 15.6933 18.6469 15.6469Z" fill="white"/> </g> </svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next QwZem6aTg2-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden tablet:!inline mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center"
  style=""
  >
     <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg"> <g opacity="0.7"> <rect width="44" height="44" fill="#242424"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6469 15.6469C18.6933 15.6003 18.7485 15.5634 18.8093 15.5382C18.87 15.513 18.9351 15.5 19.0009 15.5C19.0667 15.5 19.1318 15.513 19.1925 15.5382C19.2533 15.5634 19.3084 15.6003 19.3549 15.6469L25.3549 21.6469C25.4015 21.6933 25.4384 21.7485 25.4636 21.8093C25.4888 21.87 25.5018 21.9351 25.5018 22.0009C25.5018 22.0667 25.4888 22.1318 25.4636 22.1925C25.4384 22.2533 25.4015 22.3084 25.3549 22.3549L19.3549 28.3549C19.261 28.4488 19.1337 28.5015 19.0009 28.5015C18.8681 28.5015 18.7408 28.4488 18.6469 28.3549C18.553 28.261 18.5003 28.1337 18.5003 28.0009C18.5003 27.8681 18.553 27.7408 18.6469 27.6469L24.2939 22.0009L18.6469 16.3549C18.6003 16.3084 18.5634 16.2533 18.5382 16.1925C18.513 16.1318 18.5 16.0667 18.5 16.0009C18.5 15.9351 18.513 15.87 18.5382 15.8093C18.5634 15.7485 18.6003 15.6933 18.6469 15.6469Z" fill="white"/> </g> </svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-QwZem6aTg2-{{section.id}} hidden flex-row w-full mt-2 tablet:flex-row tablet:w-full tablet:mt-2 mobile:!flex mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-492790951287194847 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://builder.gempages.net/instant/hyperlink/edit?type=section&section_id=492790951287194847&template_id=492790951119422687)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
