
  
  
  <style>
    .gps-493488036693148789 .-translate-y-1\/2,.gps-493488036693148789 .mobile\:-translate-y-1\/2,.gps-493488036693148789 .mobile\:rotate-0,.gps-493488036693148789 .mobile\:rotate-180,.gps-493488036693148789 .mobile\:translate-x-0,.gps-493488036693148789 .mobile\:translate-y-1\/2,.gps-493488036693148789 .rotate-0,.gps-493488036693148789 .rotate-180,.gps-493488036693148789 .tablet\:-translate-y-1\/2,.gps-493488036693148789 .tablet\:rotate-0,.gps-493488036693148789 .tablet\:rotate-180,.gps-493488036693148789 .tablet\:translate-x-0,.gps-493488036693148789 .tablet\:translate-y-1\/2,.gps-493488036693148789 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-493488036693148789 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-493488036693148789 .pointer-events-auto{pointer-events:auto}.gps-493488036693148789 .absolute{position:absolute}.gps-493488036693148789 .relative{position:relative}.gps-493488036693148789 .bottom-1\/2{bottom:50%}.gps-493488036693148789 .left-4{left:16px}.gps-493488036693148789 .right-4{right:16px}.gps-493488036693148789 .top-1\/2{top:50%}.gps-493488036693148789 .z-1{z-index:1}.gps-493488036693148789 .z-2{z-index:2}.gps-493488036693148789 .mx-auto{margin-left:auto;margin-right:auto}.gps-493488036693148789 .my-0{margin-bottom:0;margin-top:0}.gps-493488036693148789 .mb-0{margin-bottom:0}.gps-493488036693148789 .mt-2{margin-top:8px}.gps-493488036693148789 .block{display:block}.gps-493488036693148789 .\!inline{display:inline!important}.gps-493488036693148789 .flex{display:flex}.gps-493488036693148789 .inline-flex{display:inline-flex}.gps-493488036693148789 .grid{display:grid}.gps-493488036693148789 .\!hidden{display:none!important}.gps-493488036693148789 .hidden{display:none}.gps-493488036693148789 .aspect-square{aspect-ratio:1/1}.gps-493488036693148789 .h-6{height:24px}.gps-493488036693148789 .h-full{height:100%}.gps-493488036693148789 .w-6{width:24px}.gps-493488036693148789 .w-\[12px\]{width:12px}.gps-493488036693148789 .w-full{width:100%}.gps-493488036693148789 .max-w-full{max-width:100%}.gps-493488036693148789 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-493488036693148789 .-translate-y-1\/2,.gps-493488036693148789 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .translate-y-1\/2{--tw-translate-y:50%}.gps-493488036693148789 .rotate-0{--tw-rotate:0deg}.gps-493488036693148789 .rotate-0,.gps-493488036693148789 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .rotate-180{--tw-rotate:180deg}.gps-493488036693148789 .cursor-pointer{cursor:pointer}.gps-493488036693148789 .flex-row{flex-direction:row}.gps-493488036693148789 .flex-col{flex-direction:column}.gps-493488036693148789 .items-center{align-items:center}.gps-493488036693148789 .justify-center{justify-content:center}.gps-493488036693148789 .gap-2{gap:8px}.gps-493488036693148789 .gap-y-0{row-gap:0}.gps-493488036693148789 .overflow-hidden{overflow:hidden}.gps-493488036693148789 .rounded-full{border-radius:9999px}.gps-493488036693148789 .text-center{text-align:center}.gps-493488036693148789 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-493488036693148789 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-493488036693148789 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036693148789 .duration-200{transition-duration:.2s}.gps-493488036693148789 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-493488036693148789 .disabled\:cursor-default:disabled{cursor:default}.gps-493488036693148789 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-493488036693148789 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-493488036693148789 .tablet\:bottom-1\/2{bottom:50%}.gps-493488036693148789 .tablet\:left-4{left:16px}.gps-493488036693148789 .tablet\:right-4{right:16px}.gps-493488036693148789 .tablet\:top-1\/2{top:50%}.gps-493488036693148789 .tablet\:mt-2{margin-top:8px}.gps-493488036693148789 .tablet\:block{display:block}.gps-493488036693148789 .tablet\:\!hidden{display:none!important}.gps-493488036693148789 .tablet\:w-full{width:100%}.gps-493488036693148789 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-493488036693148789 .tablet\:-translate-y-1\/2,.gps-493488036693148789 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-493488036693148789 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-493488036693148789 .tablet\:rotate-0,.gps-493488036693148789 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .tablet\:rotate-0{--tw-rotate:0deg}.gps-493488036693148789 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .tablet\:flex-row{flex-direction:row}.gps-493488036693148789 .tablet\:px-0{padding-left:0;padding-right:0}.gps-493488036693148789 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-493488036693148789 .mobile\:bottom-1\/2{bottom:50%}.gps-493488036693148789 .mobile\:left-4{left:16px}.gps-493488036693148789 .mobile\:right-4{right:16px}.gps-493488036693148789 .mobile\:top-1\/2{top:50%}.gps-493488036693148789 .mobile\:mt-2{margin-top:8px}.gps-493488036693148789 .mobile\:block{display:block}.gps-493488036693148789 .mobile\:\!hidden{display:none!important}.gps-493488036693148789 .mobile\:w-full{width:100%}.gps-493488036693148789 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-493488036693148789 .mobile\:-translate-y-1\/2,.gps-493488036693148789 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-493488036693148789 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-493488036693148789 .mobile\:rotate-0,.gps-493488036693148789 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .mobile\:rotate-0{--tw-rotate:0deg}.gps-493488036693148789 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-493488036693148789 .mobile\:flex-row{flex-direction:row}.gps-493488036693148789 .mobile\:px-0{padding-left:0;padding-right:0}.gps-493488036693148789 .mobile\:pl-1{padding-left:4px}}.gps-493488036693148789 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-493488036693148789 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-493488036693148789 .\[\&_\*\]\:max-w-full *{max-width:100%}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gKR26TLFAw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:10px;--pt-mobile:0px;--pb-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKR26TLFAw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBo1NSKuRw relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gvWR0ahMjX-{{section.id}}" class=" "  gp-data='{"id":"gvWR0ahMjX-{{section.id}}","setting":{"arrow":{"desktop":false},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":true,"autoplayTimeout":5,"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":true,"loop":{"desktop":true},"pauseOnHover":true,"slidesToShow":{"desktop":5,"mobile":2.5,"tablet":4},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"10"},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative mx-auto my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block gvWR0ahMjX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gvWR0ahMjX-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gZXAbaVwLI"
    >
      <div
    
    role="presentation"
    class="group/image gKCSPCg6Jq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/4655a6e2-74b9-44f3-8aae-7570b52e08e0/-/format/auto/" data-srcset="https://ucarecdn.com/4655a6e2-74b9-44f3-8aae-7570b52e08e0/-/format/auto/ 768w,https://ucarecdn.com/4655a6e2-74b9-44f3-8aae-7570b52e08e0/-/format/auto/ 1024w,https://ucarecdn.com/4655a6e2-74b9-44f3-8aae-7570b52e08e0/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="280" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:280/280;--aspect-tablet:280/280;--aspect-mobile:280/280;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- go6mUceIBH"
    >
      <div
    
    role="presentation"
    class="group/image gEyeC6wz-u"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/304dca81-9556-4dc7-a014-573cc8f40172/-/format/auto/" data-srcset="https://ucarecdn.com/304dca81-9556-4dc7-a014-573cc8f40172/-/format/auto/ 768w,https://ucarecdn.com/304dca81-9556-4dc7-a014-573cc8f40172/-/format/auto/ 1024w,https://ucarecdn.com/304dca81-9556-4dc7-a014-573cc8f40172/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="280" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:280/280;--aspect-tablet:280/280;--aspect-mobile:280/280;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- ge7n2KyT1T"
    >
      <div
    
    role="presentation"
    class="group/image g9kr7_Utgq"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/e20a82e9-e8f6-4d07-ab20-7b5371b712a8/-/format/auto/" data-srcset="https://ucarecdn.com/e20a82e9-e8f6-4d07-ab20-7b5371b712a8/-/format/auto/ 768w,https://ucarecdn.com/e20a82e9-e8f6-4d07-ab20-7b5371b712a8/-/format/auto/ 1024w,https://ucarecdn.com/e20a82e9-e8f6-4d07-ab20-7b5371b712a8/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="280" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:280/280;--aspect-tablet:280/280;--aspect-mobile:280/280;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gqE4r4nAtX"
    >
      <div
    
    role="presentation"
    class="group/image gAXo9uSbph"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/e90e2a6c-fe18-4892-a1e6-32c4e2ea33df/-/format/auto/" data-srcset="https://ucarecdn.com/e90e2a6c-fe18-4892-a1e6-32c4e2ea33df/-/format/auto/ 768w,https://ucarecdn.com/e90e2a6c-fe18-4892-a1e6-32c4e2ea33df/-/format/auto/ 1024w,https://ucarecdn.com/e90e2a6c-fe18-4892-a1e6-32c4e2ea33df/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="280" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:280/280;--aspect-tablet:280/280;--aspect-mobile:280/280;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- g9Y5zU4dDw"
    >
      <div
    
    role="presentation"
    class="group/image g3LW1Irzzu"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img loading="lazy"
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/9413ab98-fef7-4f4c-b250-708b6aa414ba/-/format/auto/" data-srcset="https://ucarecdn.com/9413ab98-fef7-4f4c-b250-708b6aa414ba/-/format/auto/ 768w,https://ucarecdn.com/9413ab98-fef7-4f4c-b250-708b6aa414ba/-/format/auto/ 1024w,https://ucarecdn.com/9413ab98-fef7-4f4c-b250-708b6aa414ba/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="280" height="280" alt="Alt Image" priority
    sizes="100vw"
    style="--aspect:280/280;--aspect-tablet:280/280;--aspect-mobile:280/280;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gvWR0ahMjX-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gvWR0ahMjX-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gvWR0ahMjX-{{section.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-493488036693148789 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e38a4c-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=493488036407936117&sectionId=493488036693148789)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
